---
import LinkList from "@components/LinkList.svelte";
import Markdown from "@components/misc/Markdown.astro";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import { Content } from "../content/spec/link.md";

const yaml = `
- name: Mias' Blog
  url: https://mias.moe
  avatar: /image/avatar.jpg
  description: The inescapable lot of solitude.
`;
---

<MainGridLayout title="链接" description="友情链接">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full">
            <Markdown class="mt-2">
                <h1>友情链接</h1>
                <p>对我有很大影响的朋友们</p>
                <p>(一些是单向链接.虽然关系可能早已疏远,但我依然很怀念他们,怀念一些过去的时光)</p>
            </Markdown>
            <div class="my-6">
                <LinkList client:only="svelte" />
            </div>
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>